@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>POC R & D.</p>
    <h2>Version 4</h2>
    <h2>Pruebas de ejecución de pipelines 3</h2>
</div>
